<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>贪吃蛇小游戏</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #snakeBoard {
            text-align: center;
        }

        #snakeBoard span {
            display: inline-block;
            background-color: gray;
            border: 1px solid green;
            width: 20px;
            height: 20px;
        }

        .cover {
            background: cyan !important;
        }

        .food {
            background: brown !important;
        }
    </style>
    <!-- 
    1. 画一个活动区域
    2. 画蛇的初始长度
    3. 让蛇在一个方向动起来
    4. 让蛇在四个方向动起来
    5. 控制蛇在我们要的方向跑起来
    6. 生成食物并且吃了能变长
    -->

    <div id="snakeBoard">
        <div v-for="i in size">
            <span v-for="j in size" ref="span"></span>
        </div>
    </div>


    <script>
        new Vue({
            el: "#snakeBoard",
            data: {
                size: 20,
                length: 5,
                timedelta: 150,
                snake: [],
                direction: "up",
                food: {},
            },
            mounted: function () {
                // 初始化一条蛇
                let half = Math.floor(this.size / 2);
                for (let i = 0; i < this.length; i++) {
                    this.snake.push({ x: half, y: half + i < this.size - 1 ? half + i : this.size - 1 });
                }

                this.render();
                this.start();
                this.generateFood();

                // 添加键盘监听事件
                window.addEventListener("keydown", (e) => {
                    switch (e.key) {
                        case "ArrowUp": {
                            if (this.direction != "down") {
                                this.direction = "up";
                            }
                        } break;
                        case "ArrowDown": {
                            if (this.direction != "up") {
                                this.direction = "down";
                            }
                        } break;
                        case "ArrowLeft": {
                            if (this.direction != "right") {
                                this.direction = "left";
                            }
                        } break;
                        case "ArrowRight": {
                            if (this.direction != "left") {
                                this.direction = "right";
                            }
                        } break;
                    }
                });
            },
            methods: {
                render: function () {
                    // 渲染蛇身
                    for (let body of this.snake) {
                        // 给蛇的身体加上“cover”类属性
                        this.$refs.span[body.y * this.size + body.x].classList.add('cover');
                    }
                },
                start: function () {
                    // 定时任务
                    setInterval(() => {
                        let nextHead = {};
                        let head = this.snake[0];
                        // 计算当前方向的下一个蛇头位置
                        switch (this.direction) {
                            case "up": {
                                // 计算下一步蛇头的位置
                                nextHead = { x: head.x, y: head.y - 1 < 0 ? this.size - 1 : head.y - 1 };

                            } break;
                            case "down": {
                                nextHead = { x: head.x, y: head.y + 1 > this.size - 1 ? 0 : head.y + 1 };
                            } break;
                            case "left": {
                                nextHead = { x: head.x - 1 < 0 ? this.size - 1 : head.x - 1, y: head.y };
                            } break;
                            case "right": {
                                nextHead = { x: head.x + 1 > this.size - 1 ? 0 : head.x + 1, y: head.y };
                            } break;
                        }

                        // 把新的头加到数组最前面
                        this.snake.splice(0, 0, nextHead);

                        // 蛇头和食物的碰撞检测
                        if (nextHead.x === this.food.x && nextHead.y === this.food.y) {
                            this.$refs.span[this.food.y * this.size + this.food.x].classList.remove('food');
                            this.length += 1;
                            this.generateFood();
                        } else {
                            // 移除尾巴并清空尾巴的样式
                            let tail = this.snake.pop();
                            this.$refs.span[tail.y * this.size + tail.x].classList.remove('cover');
                        }

                        // 自动进食的AI
                        if (nextHead.x > this.food.x) {
                            this.direction = "left";
                        } else if (nextHead.x < this.food.x) {
                            this.direction = "right";
                        } else if (nextHead.y > this.food.y) {
                            this.direction = "up";
                        } else if (nextHead.y < this.food.y) {
                            this.direction = "down";
                        }

                        // 重新渲染
                        this.render();
                    }, this.timedelta);

                },
                // 生成食物（不会生成在蛇身上）
                generateFood: function () {
                    let flag = true;
                    while (flag) {
                        flag = false;
                        this.food = { x: Math.floor(Math.random() * this.size), y: Math.floor(Math.random() * this.size) };
                        for (let body of this.snake) {
                            if (body.x === this.food.x && body.y === this.food.y) {
                                flag = true;
                            }
                        }
                    }
                    this.$refs.span[this.food.y * this.size + this.food.x].classList.add('food');
                }
            }
        });
    </script>
</body>

</html>